/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Roboto:ital,wght@1,500&display=swap');

/* Asterisk wildcardselector to override styles that are default by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project styles*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Header */
header {
    background-color: #0F52BA;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    box-shadow: 0 5px 2px #fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Crimson Text', serif;
    text-transform: none;
    letter-spacing: 2px;
    color: #fff;
    font-size: 20px;

}

#nav-list {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#nav-list>li {
    margin-bottom: 1em;
}

.home {
    border-bottom: 1px solid #fff;
}

/* Nav bar with dropdown menu*/
nav {
    position: absolute;
    background-color: #0F52BA;
    width: 100%;
    left: 0;
    top: 100%;
    padding-top: 1rem;
    padding-right: 0 1rem;
    display: none;
    text-align: center;
}

/* Navbar toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked~nav {
    display: block;
}


/* Main Content */
main {
    background-image: url(../images/waterfordquay.webp);
    opacity: 0.9;
    background-color: #add8e6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
    position: relative;
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
    /* Push footer down*/
    margin-top: 1em;
    flex: 1 0 auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
}

#p1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#p2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex: row;
    position: absolute;
    bottom: 0;
    margin: 8px;
}

/* Footer */
#socials {
    text-align: center;
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

#socials i {
    font-size: 20px;
}

/* Minimum and maximum media queries (to stop alteration of main conent being 
covered on smaller devices and content area dropping down on larger devices.)*/
@media screen and (max-width: 359px) {
    header {
        font-size: small;
    }

    main {
        padding-top: 64px;
        margin-top: 8px;
        background-image: url(../images/waterfordquay.webp);
        opacity: 0.9;
        background-color: #add8e6;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: smaller;
    }


}

@media screen and (max-width:302px) {
    header {
        font-size: small;
    }

    main {
        margin-top: 56px;
        padding-top: 15px;
        font-size: smaller;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 23px;
    }

    main {
        font-size: 23px;
    }
}