/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Quicksand&display=swap');

/* Asterisk wildcardselector to override styles that are default by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project styles*/
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
    background-color: #4b8de3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: 'Crimson Text', serif;
    text-transform: none;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: larger;

}

#nav-list {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#nav-list>li {
    margin-bottom: 1em;
}

.home {
    border-bottom: 1px solid #ffffff;
}

/* Nav bar with dropdown menu*/
nav {
    position: absolute;
    background-color: #0000ff;
    width: 100%;
    left: 0;
    top: 100%;
    padding-top: 1rem;
    padding-right: 0 1rem;
    display: none;
    text-align: center;
}

/* Navbar toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked~nav {
    display: block;
}


/* Main Content */
main {
    background-image: url(../images/waterfordquay.jpg);
    opacity: 0.7;
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding-top: 40px;
    padding-left: 1em;
    /* Push footer down*/
    margin-top: 2em;
    flex: 1 0 auto;
}

/* Footer */
#socials {
    text-align: center;
    list-style-type: none;
    padding: 15px;
    display: flex;

    justify-content: space-evenly;
}

#socials i {
    font-size: 20px;
}

/* Minimum and maximum media queries (to stop alteration of main conent being 
covered on smaller devices and content area dropping down on larger devices.)*/
@media screen and (max-width: 359px) {
    header {
        font-size: small;
    }

    main {
        padding-top: 40px;
        margin-top: 0.5em;
        background-image: url(../images/waterfordquay.jpg);
        opacity: 0.7;
        background-color: lightblue;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: small;
    }
}

@media screen and (min-width: 360px) {
    main {
        margin-top: 0.5em;
    }
}